<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {% endblock title %}

    {% block css %}
    {% endblock css %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body style="background-color: #E0E0E0;">
    <nav class="navbar navbar-expand-lg bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">Employee Management</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'AddEmployee' %}">Create Employee</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'ShowEmployee' %}">Show Employee</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" /> -->
                    {% if user.is_authenticated %}
                    <span style="
                        color: white;
                        font-size: 18px;
                        font-weight: 600;
                        margin: 4px 15px;">{{user.username}}</span>
                    <a href="{% url 'SignOut' %}"><button class="btn btn-outline-light me-3" type="button">Sign
                            Out</button></a>
                    {% else %}
                    <a href="{% url 'SignIn' %}"><button class="btn btn-outline-light me-3" type="button">Sign
                            In</button></a>
                    <a href="{% url 'SignUp' %}"><button class="btn btn-outline-light me-3" type="button">Sign
                            Up</button></a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>



    {% block content %}
    {% endblock content %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>